language: generic
sudo: required
matrix:
  include:
    - services:
        - docker
      script: docker run -v $PWD:/walletelectron greenaddress/electron@sha256:7a5aa06b61780c27ea7d9610846ae037bfa2ca3159a86fc6bb6213d3ad47d5c8 /bin/sh -c "cd /walletelectron && ./prepare.sh mainnet"
    - os: osx
      osx_image: xcode9.4
      language: node_js
      node_js:
        - "8"
        - "10"
      install:
        - brew update &> /dev/null
        - brew install swig gnu-sed autoconf pkg-config
        - pip2 install virtualenv
      script:
        - cd $HOME/build/greenaddress/WalletElectron && ./prepare.sh mainnet
